---
import { Picture } from "astro:assets";
import heroImage from "assets/pose_2.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center">
  <div class="py-1 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[300, 1200, 1200]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Software para la Gestión de clínicas Médicas
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Permitirá gestionar su Clínica o Gabinete Médico de una 
      manera cómoda y fácil gracias a su intuitivo diseño. 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-4">
      <Link
        href="#features"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-chevron-down-circle" />

        Conoce Más
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/dalmope/Front-Clinica"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxl-angular" />
        Front Repo
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/dalmope/usermicroservice"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxl-java" />
        Back Repo
    </Link>
    
    </div>
  </div>
</main>
